<div class="content" >
	<h1>Projects</h1>
	<hr>
	<p>Search: <input type="text" ng-model="nameText" /></p>
	<div>
		
	<div class="contentScrollBox">		
    <div data-ng-repeat="project in projects | filter:nameText | orderBy:'title'"> 
    	<a href="#/projects/{{project.url}}">
		 <div class="project" style="background-color:{{project.color}}">
		 	<div id="project-text">
		 	<h2>{{project.title}}</h2>
		 	</div>
		 	<img src="projects/images/{{project.image}}" width="118" height="118">
		 </div>
		</a>
	</div>
    </div>
	</div>
</div>
<div class="x">
	<a href="#/" class="homelink">x</a>
</div>