body {
  padding-top: 50px;
  min-height: 100%;
}
p {
  color: white;
}
h1, h2, h4 {
  color: #EEEEEE;
}
.jumbotron {
  padding: 8px 10px !important;
}
.project {
  display: inline-block;
}
.project > div{
    width:130px;
    /*height:165px;*/
    text-align: center;
    margin:20px 17px 17px 20px;
    /*background-color: rgb(100, 47, 53); */
    float:left;
    padding: 5px;
    border-radius: 5px;
}
.project-text {
    height:40px;
    top:-10px;
}
.intro-text {
  padding: 40px 15px;
  text-align: center;
  /*color: rgb(255, 255, 255);*/
  /*background-color: rgb(40, 47, 53);*/
}
.jumbotron{
  border-radius: 0px;
}
.body{
  background-color: rgb(40, 47, 53);
  min-height: 100%;
}
.centeredImage{
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}
.search {
  float: right;
}
.searchbox{
  color:black;
  border-radius: 5px;
  padding: 5px;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.project-page .contentScrollBox{
  max-width: 400px;
}