body {
  padding-top: 50px;
  min-height: 100%;
}
p {
  color: white;
}
.jumbotron .h1 {
  font-size: 350%;
}
.project{
    width:120px;
    height:165px;
    text-align: center;
    margin:20px 17px 17px 20px;
    /*background-color: rgb(100, 47, 53); */
    float:left;
}
.project-text {
    height:40px;
    top:-10px;
}
.intro-text {
  padding: 40px 15px;
  text-align: center;
  /*color: rgb(255, 255, 255);*/
  /*background-color: rgb(40, 47, 53);*/
}
.jumbotron{
  border-radius: 0px;
}
.body{
  background-color: rgb(40, 47, 53);
  min-height: 100%;
}
.centeredImage{
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}
.searchbox{
  color:black
}
